#datepicker {
  z-index: 9999;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 1rem var(--shadow) !important;
  background-color: var(--background);
  width: 300px;
  padding: 5px 15px 15px 15px;
  border-radius: 5px;
  border: 1px solid var(--border);
}

#datepicker * {
  user-select: none;
  font-family: Arial;
  box-sizing: border-box;
  color: var(--font-normal);
}

#datepicker hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-top: 0;
  height: 0;
  overflow: visible;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid var(--divider);
}

#datepicker svg {
  overflow: hidden;
  vertical-align: middle;
  fill: var(--font-normal);
}

#datepicker .button {
  cursor: pointer;
  text-align: center;
  line-height: 34px;
  height: 34px;
  width: 34px;
  border-radius: 5px;
}

#datepicker .custom-dp-select .select-value-container:focus,
#datepicker .custom-dp-select .select-value-container:hover,
#datepicker .custom-dp-select .select-option:hover,
#datepicker .button:not(.rcell):hover {
  background-color: var(--hover) !important;
}

#datepicker .custom-dp-select .select-selected,
#datepicker .button:not(.rcell):active {
  background-color: var(--active) !important;
}

#datepicker > .input-control {
  display: flex;
  width: 100%;
}

#datepicker .custom-dp-select {
  font-size: 14px;
}

#datepicker .custom-dp-select .select-value-container {
  height: 34px;
  line-height: 34px;
  padding-left: 8px;
  cursor: pointer;
  border-radius: 5px;
}

#datepicker .custom-dp-select .select-value {
  line-height: 34px;
}

#datepicker .custom-dp-select .select-arrow {
  margin-left: auto;
  margin-right: 8px;
  transition: var(--transition-time) ease;
}

#datepicker .custom-dp-select .select-arrow svg {
  position: relative;
  top: -1px;
}

#datepicker .custom-dp-select .select-option {
  font-size: small;
  height: 25px;
  padding-left: 10px;
  line-height: 25px;
}

#datepicker .custom-dp-select .select-options {
  z-index: 9999;
  position: absolute;
  width: 150px;
  background-color: var(--background-select) !important;
  margin-top: 5px;
  box-shadow: 0 0.5rem 1rem var(--shadow);
  border-radius: 5px;
  transition: var(--transition-time) ease-in-out;
  overflow-y: scroll;

  /*hiding Scrollbars*/
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#datepicker .custom-dp-select .select-options::-webkit-scrollbar {
  display: none;
}

#datepicker .closesel .select-options {
  height: 0;
}

#datepicker .open .select-options {
  height: 250px;
}

#datepicker > .input-control > .button {
  margin-bottom: 10px;
}

#datepicker > .input-control > ._close {
  margin-left: auto;
}

#datepicker > .calendar-control {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

#datepicker > .calendar-control > .year,
#datepicker > .calendar-control > .year .select-options {
  width: 70px;
}
#datepicker > .calendar-control > .month,
#datepicker > .calendar-control > .month .select-options {
  width: 110px;
}

#datepicker > .calendar > .cal-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#datepicker > .calendar > .cal-row > .cell {
  margin: 2px 0;
  background-color: var(--active-cell);
}

#datepicker > .calendar > .cal-row > .cell.today {
  font-weight: bold;
  color: var(--font-contrast);
  background-color: var(--today-cell);
}

#datepicker > .calendar > .header > .cell {
  font-weight: bold;
  font-size: small;
  background-color: var(--background);
}

#datepicker > .calendar > .header > .cell:active,
#datepicker > .calendar > .header > .cell:hover {
  text-decoration: underline;
  background-color: var(--background) !important;
}

#datepicker > .calendar .rcell:hover {
  filter: var(--hover-cell);
}

#datepicker .unavailable,
#datepicker .unavailable:hover,
#datepicker .unavailable:active {
  background-color: var(--inactive-cell) !important;
  color: var(--font-inactive);
  filter: none !important;
  cursor: default;
}

#datepicker .selected {
  background-color: var(--selected-cell) !important;
  color: var(--font-contrast) !important;
  font-weight: bold;
}
